[project]
	description = this is my first repository to learn git basics
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sunnysk117
[access "refs/for/refs/*"]
	read = group user/sunnysk117
	push = group user/sunnysk117
	label-Code-Review = -2..+2 group user/sunnysk117
	label-Verified = -1..+1 group user/sunnysk117
	rebase = group user/sunnysk117
	removeReviewer = group user/sunnysk117
	submit = group user/sunnysk117
[access "refs/heads/*"]
	read = group user/sunnysk117
	create = group user/sunnysk117
	push = +force group user/sunnysk117
	pushMerge = group user/sunnysk117
[access "refs/tags/*"]
	push = group user/sunnysk117
	push = +force group user/sunnysk117
